[user]
	name = Calvin Lee
	email = lihao921@gmail.com
[color]
	ui = auto
    diff = auto
[core]
	editor = vim

[diff]
	tool = meld
[alias]
	co = checkout
	br = branch
	st = status
	cm = commit
	checkout = co
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
#[commit]
#	template = 
[merge]
	tool = meld
[commit]
	template = ~/.gitmessage
